body {
    margin: 0;
    background-color: whitesmoke;
}
*{
  font-family: "Inter", sans-serif;
letter-spacing: 0.8999999761581421px;
box-sizing: border-box;


}
.hero {
  height: 79vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgb(0, 0, 0)),
    url("https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/1451f11e03da76480966b636a622119a.jpg");
    background-size: 100%;
    padding-top: 18px;
  
}
.hero-content {
  width: 1120px;
  height: 450px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.right{
  width: 600px;
  height: 300px;
left: 507.39px;
}
.text1{
 color: rgba(0, 120, 246, 1);
 box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.004);
 font-size: 13px;
 font-weight: bold;

}
.heading1{
  color: transparent;
  -webkit-text-stroke: 1px white;
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 0
}
.heading2 {
  -webkit-text-stroke: 1px white;
 top: 0;
  padding-right: 52.73px;
  font-size: 35px;
  margin-top: 0;
font-weight: 800;
letter-spacing: 0.8999999761581421px;


}
.profile{
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.nameofauthor{
  font-size: 12px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  margin-top: 3px;
  opacity: .4
}
.date{
  margin-top: 6px;
  font-size: 12px
}
.texts{
  flex-direction: column;

  align-items: center
}
.navbar-centered {
  display: flex;
  align-items: center;
  justify-content: space-between;
 width: 1600px;
  height: 60px;
  margin-left: auto;
margin-right: auto;


}
.icon-menu {
 height: 12px;
 display: flex; 
 align-items: center;

}
.ltxt {
  color: white;
  width: 118px;
  height: 12px;
  font-size: 12px;
  opacity: .4
}
.nav-circled {
  width: 160px;
  height: 40px;
  border-radius: 40px;
  background-color:rgba(209, 209, 209, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  gap: 15px;
  box-shadow: 4px 4px 50px -4px rgba(209, 209, 209, 0.6);

}
.bluecircle{
  width: 7px;
  height: 7px;
  border-radius: 3px;
  background-color:rgba(0, 120, 246, 1);
  display: flex;
  align-items: center;

}
.techworm{
    color: white;
    font-size: 12px;
}
.zuraas{
  background-color: white;
  height: 20px;
  width: 1px;
}
.navigation{
  display: flex;
  align-items: center;
}
.blackbg{
  display: flex;
  justify-content: space-between;
  height: 32px;
  width: 2240px;
  background-color: black
}
.leftbar{
  display: flex;
  width: 420px;
  height: 18px;
  justify-content: space-between;
}
.rightbar{
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.social-links{
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 13px;
  opacity: .4;

}
.cards{
margin-top: -220px; 
display: flex;
justify-content: center;
gap: 28px;

}

.card-covers{
  height: 426px;
  width: 270px;
  border-radius: 10px
}

.text-slider{
  display: flex;
  justify-content: center;
}
.text-red{
  width: 1120px;
  height: 30px;
margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
font-size: 15px;
font-weight: bold;
  color: white;

}
.slider{
  background-color: rgba(255, 255, 255, 1);
  opacity: .4;
  width: 53px;
  height: 27px;
  border-radius: 15px

}
.section2-container{
  display: flex;
  justify-content: center;
}
.section2{
  width: 1116px;
  height: 2520px;
  margin-top: 120px;


}
.contents{
  width: 739px;
  height: 183px;
  border-radius: 0 2.7rem 2.7rem 2.7rem;
  padding: 2.8em 6.5em 2em 5.1em;
  margin-top: 1.3em;
background-color: white;

}
.bulleted-text{
 color: rgba(0, 120, 246, 1);
 font-size: 12px;
 font-weight: bold;
}
.main-text{
font-size: 21.2px;
font-weight: bold;
line-height: 2.6rem
}
.first-card{
  background-image: url("Div [cover].png");
  background-size: cover;
}
.second-card{
  background-image: url("Div\ [cover]-2.png");
  background-position: center;
  background-size: cover;
}
.third-card{
  background-image: url("Div [cover]-3.png");
  background-size: cover;
}
.fourth-card{
  background-image: url("Div [cover]-4.png");
  background-size: cover;
}
.fifth-card{
  background-image: url("Div [cover]-5.png");
  background-size: cover;
}
.bluecircle{
  width: 6px;
  height: 6px;
  border-radius: 3px;
}
