body {
    margin: 0;
    background-color: whitesmoke;
}
*{
  font-family: "Inter", sans-serif;
box-sizing: border-box;
}
.hero {
  height: 79vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgb(0, 0, 0)),
    url("https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/1451f11e03da76480966b636a622119a.jpg");
    background-size: 100%;
    padding-top: 18px;
  
}
.main-text:hover{
 color:rgba(0, 120, 246, 1);
 transition: 0.5s;
}
.hero-content {
  width: 1120px;
  height: 450px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  text-decoration: none;
}
.hero-image1{
  width: 448px;
  height: 447px;
  overflow: hidden;
  border-radius: 20px;
}
.hero-image{
  background-image: url(./Figure\ [uk-overlay].png);
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.hero-image:hover{
  background-size: 110%;
}
.right{
  width: 600px;
  height: 300px;
left: 507.39px;
}
.text1{
 color: rgba(0, 120, 246, 1);
 box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.004);
 font-size: 13px;
 font-weight: bold;

 animation-name: blink;
 animation-iteration-count: infinite;
 animation-duration: 1.5s;
}
@keyframes blink {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.heading1{
  color: transparent;
  -webkit-text-stroke: 1px white;
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 0
}
.heading2 {
  -webkit-text-stroke: 1px white;
 top: 0;
  padding-right: 52.73px;
  font-size: 35px;
  margin-top: 0;
font-weight: 800;
letter-spacing: 0.8999999761581421px;
}
.profile{
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.slider{
  display: flex;
  justify-content: center;
  color: white
}
.nameofauthor{
  font-size: 12px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  margin-top: 3px;
  opacity: .4;
  text-decoration: none;
}
.nameofauthor:hover{
 opacity: 10;
 transition: 0.5s;
}
.date{
  margin-top: 6px;
  font-size: 12px
}
.texts{
  flex-direction: column;
  align-items: center
}
.navbar-centered {
  display: flex;
  align-items: center;
  justify-content: space-between;
 width: 1600px;
  height: 60px;
  margin-left: auto;
margin-right: auto;
}
.text-slider{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
.icon-menu {
 height: 12px;
 display: flex; 
 align-items: center;
}
.ltxt {
  color: white;
  width: 118px;
  height: 12px;
  font-size: 12px;
  opacity: .4
}
.nav-circled {
  width: 160px;
  height: 40px;
  border-radius: 40px;
  background-color:rgba(209, 209, 209, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  gap: 15px;
  box-shadow: 4px 4px 50px -4px rgba(209, 209, 209, 0.6);
}
.bluecircle{
  width: 7px;
  height: 7px;
  border-radius: 3px;
  background-color:rgba(0, 120, 246, 1);
  display: flex;
  align-items: center;
}
.techworm{
    color: white;
    font-size: 12px;
}
.zuraas{
  background-color: white;
  height: 20px;
  width: 1px;
}
.navigation{
  display: flex;
  align-items: center;
}
.blackbg{
  display: flex;
  justify-content: space-between;
  height: 32px;
  width: 100%;
  background-color: black
}
.leftbar{
  display: flex;
  width: 420px;
  height: 18px;
  justify-content: space-between;
}
.rightbar{
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-links{
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 13px;
  opacity: .4;
}
.soclinks:hover{
  display: flex;
  justify-content: center;
}
.text-red{
  width: 1120px;
  height: 30px;
margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
font-size: 15px;
font-weight: bold;
  color: white;
}
.slider{
  background-color: rgba(255, 255, 255, 1);
  opacity: .4;
  width: 53px;
  height: 27px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}
.chevront{
  height: 20px;
  color: white;
  cursor: pointer;
}
.chevron{
  height: 25px
}
.first-card{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 100%);
  background-image: url("Div\ [cover]-2.png");
  border-radius: 13px;
  background-size: cover;
  background-position: center;
  justify-content: center;
  position: relative;
  height: 420px;
  width: 290px;
  transition: transform 0.3s;
}
.first-card:hover{
  transform: scale(1.1);
}
.cards-opacity{
  height: 420px;
  width: 290px;
  border-radius: 13px;
  opacity: 0.2;
  background-color: black;
  position: absolute
}
.second-card{
  background-image: url("Div\ [cover]-3.png");
  background-size: cover;
  border-radius: 13px;
  justify-content: center;
  position: relative;
  transition: transform 0.3s;
  height: 420px;
  width: 290px;
  background-repeat: no-repeat;
}
.second-card:hover{
  transform: scale(1.1);
}
.third-card{
  background-image: url("Div\ [cover]-4.png"); 
  background-size: cover;
  border-radius: 13px;
  justify-content: center;
  position: relative;
  transition: transform 0.3s;
  height: 420px;
  width: 290px;
  background-repeat: no-repeat;
}
.third-card:hover{
  transform: scale(1.1);
}
.fourth-card{
  background-image: url("Div\ [cover]-6.png");
  background-size: cover;
  border-radius: 13px;
  justify-content: center;
  position: relative;
  transition: transform 0.3s;
  height: 420px;
  width: 290px;
  background-repeat: no-repeat;
}
.fourth-card:hover{
  transform: scale(1.1);
}

.fifth-card{
  background-image: url("Div\ [cover]-5.png");
  background-size: cover;
  border-radius: 13px;
  justify-content: center;
  position: relative;
  transition: transform 0.3s;
  height: 420px;
  width: 290px;
  background-repeat: no-repeat;

}
.fifth-card:hover{
  transform: scale(1.1);
}
.sixth-card{
  background-image: url('https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/e529b49ff2d0ec2e1634b37674947be9_square.jpg');
  background-size: cover;
  height: 420px;
  width: 290px;
  border-radius: 13px;
  justify-content: center;
  position: relative;
  transition: transform 0.3s;
  background-repeat: no-repeat;

}
.sixth-card:hover{
  transform: scale(1.1);
}
.seventh-card{
  background-image:url('https://unread.today/files/dca82359-3f6e-4c03-99ef-ef493c68a7aa/a4b683673a431e02ddd0434481af9db3_square.jpg');
  background-size: cover;
  height: 420px;
  width: 290px;
  border-radius: 13px;
  justify-content: center;
  position: relative;
  transition: transform 0.3s;
  display: block;
  background-repeat: no-repeat;

}
.seventh-card:hover{
  transform: scale(1.1);
}
.cards{
  display: flex;
  flex-direction: row;
  gap: 28px;
  padding-left: 2rem;
 }
 .cards-container {
  display: flex;
  justify-content: center;
  width: 83%;
  margin-left: auto;
  margin-right: auto;
  gap: 28px;
  overflow-x: scroll;
  margin-top: 5rem; 
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
}

@media (max-width: 1280px) {
  .cards-container {
    margin-top: 3rem; 
    padding-top: 1.5rem; 
  }
}

@media (max-width: 768px) { 
  .cards-container {
    margin-top: 2rem; 
    padding-top: 1rem;
  }
}

.card-covers{
    height: 426px;
    width: 270px;
    border-radius: 10px
}
.leftside-bullet{
  width: 6px;
  height: 6px;
  background-color: rgba(0, 120, 246, 1);
  border-radius: 4px;
}
.rightside-text{
  
  font-size: 12px;
  color: white
}
.card-item-container{
  width: 264px;
  margin-top: 300px;
  position:absolute;
  left: 17px;
  margin-bottom: 14px;
  bottom: 0

}
.card-top-section{
  display: flex;
  flex-direction: row;
  width: 264px;
  height: 20px;
  justify-content: space-between;
  top: 20px;
  left: 13px;
  position: absolute

}

.bottom-row-section{
  display: flex;
  flex-direction: row;
  font-size: 12px;
  gap: 8px;
}
.bottom-view-container{
  display: flex;
  align-items: center;
  width: 80px;
  height: 20px;

}
.view-icon{
  width: 23px;
  height: 13px;
  margin-right: 5px
}
.comment-icon{
  width: 16px;
  height: 15px;
  margin-right: 5px
}

.bottom-view{ 
  color: white;
}
.bottom-comment-container{
  display: flex;
  align-items: center;
  width: 80px;
  height: 20px;
 
}
.bottom-comment{
  color: white;
}
.bottom-caption{
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin-top: 20px;
}
.bottom-heading-circled{
  font-size: 10px;
  background-color: rgba(0, 120, 246, 1);
  color: white;
  width: auto;
  height: 26px;
  display: flex;
  padding-left: 10px;
  align-items: center;
  border-radius: 13px;
  margin-top: 20px;
  border: none;
}
.section2-container{
  display: flex;
  justify-content: center;
}
.section2{
  width: 1116px;
  height: 1500px;
  margin-top: 120px;
}
.content-container{
  height: 236px;
  width: 739px;
  margin-bottom: 50px;
  transition: transform 0.3s;
  text-decoration: none;
  color: black;
}
.content-container:hover{
  transform: translateY(-5px);

}
.content-container2{
  height: 236px;
  width: 739px;
  margin-bottom: 50px;
  margin-left: 377px;
  transition: 0.3s;
  text-decoration: none;
  color: black;
}
.content-container2:hover{
  transform: translateY(-5px)
}
.profile-section{
  height: 53px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.profile-section-rightside{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  height: 53px;
  text-decoration: none;
}
.profile-picture{
  width: 35px;
  height: 35px
}
.profile-name-date{
  display: flex;
  flex-direction: column;
}

.profile-author-name{
  color: black;
  font-size: 12px;
  margin-bottom: 3px;
}
.profile-date{
  color: black;
  font-size: 12px;
  opacity: .4
}
.contents-leftside{
  width: 739px;
  height: 183px;
  border-radius: 0 2rem 2rem 2rem;
  padding: 2em 5em 2em 3.5em;
  margin-top: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.contents-leftside:hover{
  box-shadow: 0px 0px 15px 4px rgba(209, 209, 209, 0.3);
}
.contents-rightside{
  width: 739px;
  height: 183px;
  border-radius: 2rem 0rem 2rem 2rem;
  padding: 2em 5em 2em 3.5em;
  margin-top: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.contents-rightside:hover{
  box-shadow: 0px 0px 15px 4px rgba(209, 209, 209, 0.3);
}
.bulleted-text{
  display: flex;
  align-items: center;
  gap: 10px;

}
.bullet{
  background-color: rgba(0, 120, 246, 1);
  width: 6px;
  height: 6px;
  border-radius: 4px;
  
 }
 .blue-text{
  color: rgba(0, 120, 246, 1);
  font-size: 12px;
  font-weight: bold;
 }
 .main-text{
 font-size: 21.2px;
 font-weight: bold;
 line-height: 2.6rem;
 text-decoration: none;
 color:black
 }
 .content-author-img{
  width: 135px;
  height: 130px;
  border-radius: 80px;
 }
 .contents-headings{
  display: flex;
  flex-direction: column;
 }
 .section3-container{
  display: flex;
  justify-content: center;
 }
 .section3{
  width: 1116px;
  height: 1400.78px;
  margin-left: auto;
  margin-right: auto
 }
 .section3-header{
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid grey;
 }
 .section3-header-title2{
  width: 212px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  opacity: .4;
  font-size: 12px;

 }
 .section3-header-title2:hover{
  color: rgba(0, 120, 246, 1);
  opacity:10;
  border-bottom: 1px solid rgba(0, 120, 246, 1);
  font-weight: bold;

 }
 .section3-header-title3{
  width: 212px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  opacity: .4;
  font-size: 12px;
  
 }
 .section3-header-title3:hover{
  color: rgba(0, 120, 246, 1);
  opacity:10;
  border-bottom: 1px solid rgba(0, 120, 246, 1);
  font-weight: bold;
 }
 .section3-header-title1{
  width: 212px;
  height: 62px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  color: black;
  opacity: .4;

 }
 .section3-header-title1:hover{
  color: rgba(0, 120, 246, 1);
  opacity:10;
  border-bottom: 1px solid rgba(0, 120, 246, 1);
  font-weight: bold;
 }
 .section3-header-title4{
  width: 212px;
  height: 62px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
  color: black;
  opacity: .4;
  border-bottom: 1px solid rgb(191, 191, 191);
 }
 .section3-header-title4:hover{
  color: rgba(0, 120, 246, 1);
  opacity:10;
  border-bottom: 1px solid rgba(0, 120, 246, 1);
  font-weight: bold;
 }
 .grid-container{
  display: grid;
  height: 600px;
  width: 1116px;
  grid-gap: 20px;
  grid-template-columns: repeat (4, auto);
  grid-template-rows: repeat (10, auto);
  margin-top: 50px
 }
 .grid-item{
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
 }
 .grid-content-container{
  width: 100%;
  opacity: 0.2;
  height: 107px;
  background-color: black;
  border-radius: 0px 0px 20px 20px;
  position: relative
 }
 .grid-container-text{
  position: absolute;
  margin-bottom: 22px;
  margin-left: 22px;
  margin-top: 10px;
  color: white
 }
 .grid-container-timing{
  width: 62.54px;
  height: 28px;
  backdrop-filter: blur(100px);
  position: absolute;
  font-size: 11.8px;
  bottom: 93px;
  right: 14px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px
 }
 .grid-container-text1{
  font-size: 11.6px;
  color: white;
  opacity: .5
 }
 .grid-container-text2{
  font-size: 15.8px;
  font-weight: bold;
 }
 .grid-container{
  font-size: 15.8px;
  /* font-weight: bold; */
  color: white;
  margin-bottom: 5px
 }
 
 .a{
  background-image: url("Div\ [uk-cover-background].png");
  grid-column: 1 / 3;
  grid-row: 1 / 7;
  background-size: cover;
  position: relative;
  transition: 0.2s
 }
 .a:hover{
  transform: translateY(-5px);
  box-shadow: 0px 0px 15px 4px rgba(209, 209, 209, 0.3);
 }
 .b{
  background-image: url("Div\ [uk-cover-background]-2.png");
  grid-column: 3 / 4;
  grid-row: 1 / 5;
  background-size: cover;
  position: relative;
  transition: 0.2s
 }
 .b:hover{
  transform: translateY(-5px);
  box-shadow: 0px 0px 15px 4px rgba(209, 209, 209, 0.3);
 }
 .c{
  background-image: url("Div\ [uk-cover-background]-3.png");
  grid-column: 4 / 5;
  grid-row: 1 / 5;
  background-size: cover;
  position: relative;
  transition: 0.2s
 }
 .c:hover{
  transform: translateY(-5px);
  box-shadow: 0px 0px 15px 4px rgba(209, 209, 209, 0.3);
 }
 .d{
  background-image: url("Div\ [uk-cover-background]-4.png");
  grid-column: 1 / 2;
  grid-row: 7 / 11;
  background-size: cover;
  position: relative;
  transition: 0.2s
 }
 .d:hover{
  transform: translateY(-5px);
  box-shadow: 0px 0px 15px 4px rgba(209, 209, 209, 0.3);
 }
 .e{
  background-image: url("Div\ [uk-cover-background]-5.png");
  grid-column: 2 / 3;
  grid-row: 7 / 11;
  background-size: cover;
  position: relative;
  transition: 0.2s
 }
 .e:hover{
  transform: translateY(-5px);
  box-shadow: 0px 0px 15px 4px rgba(209, 209, 209, 0.3);
 }
 .f{
  background-image: url("Div\ [uk-cover-background]-6.png");
  grid-column: 3 / 4;
  grid-row:   5 / 11;
  background-size: cover;
  position: relative;
  transition: 0.2s
 }
 .f:hover{
  transform: translateY(-5px);
  box-shadow: 0px 0px 15px 4px rgba(209, 209, 209, 0.3);
 }
 .g{
  background-image: url("Div\ [uk-cover-background]-7.png");
  grid-column: 4 / 5;
  grid-row: 5 / 11;
  background-size: cover;
  position: relative;
  transition: 0.2s
 }
 .g:hover{
  transform: translateY(-5px);
  box-shadow: 0px 0px 15px 4px rgba(209, 209, 209, 0.3);
 }

.grid-container2{
  display: grid;
  height: 600px;
  width: 1116px;
  grid-gap: 20px;
  grid-template-columns: repeat (4, auto);
  grid-template-rows: repeat (10, auto);
  margin-top: 50px
}
 .h{
  background-image: url("Div\ [uk-cover-background]-8.png");
  grid-column: 1 / 3;
  grid-row: 1 / 7;
  background-size: cover;
  position: relative;
  transition: 0.2s
 }
 .h:hover{
  transform: translateY(-5px);
  box-shadow: 0px 0px 15px 4px rgba(209, 209, 209, 0.3);
 }
 .i{
  background-image: url("Div\ [uk-cover-background]-9.png");
  grid-column: 3 / 4;
  grid-row: 1 / 5;
  background-size: cover;
  position: relative;
  transition: 0.2s
 }
 .i:hover{
  transform: translateY(-5px);
  box-shadow: 0px 0px 15px 4px rgba(209, 209, 209, 0.3);
 }
 .j{
  background-image: url("Div\ [uk-cover-background]-10.png");
  grid-column: 4 / 5;
  grid-row: 1 / 5;
  background-size: cover;
  position: relative;
  transition: 0.2s
 }
 .j:hover{
  transform: translateY(-5px);
  box-shadow: 0px 0px 15px 4px rgba(209, 209, 209, 0.3);
 }
 .k{
  background-image: url("Div\ [uk-cover-background]-11.png");
  grid-column: 1 / 2;
  grid-row: 7 / 11;
  background-size: cover;
  position: relative;
  transition: 0.2s
 }
 .k:hover{
  transform: translateY(-5px);
  box-shadow: 0px 0px 15px 4px rgba(209, 209, 209, 0.3);
 }
 .l{
  background-image: url("Div\ [uk-cover-background]-12.png");
  grid-column: 2 / 3;
  grid-row: 7 / 11;
  background-size: cover;
  position: relative;
  transition: 0.2s
 }
 .l:hover{
  transform: translateY(-5px);
  box-shadow: 0px 0px 15px 4px rgba(209, 209, 209, 0.3);
 }
 .m{
  background-image: url("Div\ [uk-cover-background]-13.png");
  grid-column: 3 / 4;
  grid-row:   5 / 11;
  background-size: cover;
  position: relative;
  transition: 0.2s
 }
 .m:hover{
  transform: translateY(-5px);
  box-shadow: 0px 0px 15px 4px rgba(209, 209, 209, 0.3);
 }
 .n{
  background-image: url("Div\ [uk-cover-background]-14.png");
  grid-column: 4 / 5;
  grid-row: 5 / 11;
  background-size: cover;
  position: relative;
  transition: 0.2s
 }
 .grid-item:hover{
  transform: translateY(-5px);
  box-shadow: 5px 5px 15px grey
 }
 .footer{
  background-color: black;
  width: 100vw;
  height: 775px;

 }
 .section3-footer{
  background-color:  whitesmoke;
  height: 82px;
  width: 100vw;
  border-radius: 0 0 2.3rem 2.3rem
 }
 .footer-content-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

 }
 .footer-content{
  width: 1186px;
  height: 480px;
  margin-top: 74px;
  display: flex;
  justify-content: space-between;

 }
 .footer-content-leftside{
  width: 466.4px;
  height: 340px;
  padding-left: 40px
 }
 .footer-content-rightside{
  width: 650px;
  height: 403px 
 }
 .footer-content-bottom{
  width: 1151px;
  height: 32px;
  display: flex;
  justify-content: space-between;
 }
 .footer-content-left-rightside{
  display: flex;
  flex-direction: column;
 }
 .footer-content-bottom-container{
  display: flex;
  justify-content: center;
 }
 .unread-logo{
  height: 18px;
 }
 .footer-content-leftside-items1{
  width: 323px;
  height: 90px;
  background-color: blue;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 48.38px;
  border-radius: 18px;
  gap: 20px
 }
 .turzuuriimnertei{
  width: 323px;
  height: 90px;
  margin-bottom: 10px;
  margin-top: 48.38px;
 }
 .footer-content-leftside-items2{
  width: 323px;
  height: 90px;
  background-color: blue;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top:25.38px;
  border-radius: 18px;
  gap: 20px
 }

 .leftside-application-downloadsrc{
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 90px;
  padding-left: 40px
 }
.googleplay-appstore1{
  background-image: url('Image-3.png');
  background-position: center;
  background-size: cover;
  width: 144px;
  height: 45.57px;
  border-radius: 8px
}
.googleplay-appstore2{
  background-image: url('Image-4.png');
  background-position: center;
  background-size: cover;
  width: 144px;
  height: 45.57px;
  border-radius: 8px
}
.footer-content-rightside-item-top{
  width: 397.61px;
  height: 21.5px;
  margin-bottom: 40px;
  font-size: 13.4px;
  margin-left: 50px;
  color: white
}
.footer-content-rightside-item-middle{
  width: 600px;
  height: 26px;
  font-size: 10px;
  color: white;
  opacity: .4;
  margin-left: 50px
}
.footer-content-rightside-item-bottom{
  width: 625px;
  height: 264px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  margin-left: 25px;
  font-size: 11.6px;
  color: white
}
.bottom-item{
  display: flex;
  flex-direction: column ;
  justify-content: space-between;
  padding-left: 20px;
  width: 208px;
  height: 264px;
  line-height: 25px;

}
.bottom-item2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 208px;
  height: 195px;
  padding-left: 25px;
  margin-top: 32px;
  margin-bottom: 10px;
}
.leftside-items-text1{
  font-size: 11.6px;
  color: white
}
.leftside-items-text2{
  font-size: 13.4px;
  color: white
}
.footer-content-leftside-texts{
  display: flex;
  flex-direction: column;
}
.circle-black{
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 30px;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex
}
.circle-button{
  width: 55px;
  height: 55px;
  border-radius: 40px;
  align-content: center;
  justify-content: center;
  padding-left: 7px;
}
.turzuriimnertei{
  width: 323px;
  height: 90px;
  margin-top: 45px;
  margin-bottom: 25px;
  transition: transform 0.3s;
  background-image: url("https://s3-alpha-sig.figma.com/img/d0c2/439f/47acf9eed22f04d67787e3eb003e90b6?Expires=1730678400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=olTNhUcC2Fdtwjic5OTO77CC~3oIy1Vx~GbL0zK~VEi7k2q3ZbuVMpQseVI8T9SGwhAZeapleZ1gpYRIrjdmuSt6yZ7QxGvswMmBH6SfVCEhF9K09deS4~L-Xl3GCzHy7nvyDCeH0Djy1fOP9LGUhFU7Na7ZTBXN73SewSq9fWvNpXveil5tnCnn46-wPduWuEnVee2YpUFD27jmbIeoMDKb6uv7hVXeUaEGZzxSwA-gHX~E2Xe28xB~QXH7hdPlyEeI6iCKevnVl0dM25MeoGxmO-3ZBRt-5ldzbutOuoVmzvsjO6oF2aDEP3kyqdR9kxPMaCqT4TY5TeFRVJUnkg__");
  background-size: cover;
  display: flex;
  flex-direction: row;
  gap: 35px;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none
}
.turzuriimnertei:hover{
  transform: translateX(5px)
}
.turzuriimnertei:hover .circle-black{
  width: 38px;
  height: 38px;
  border-radius: 35px;
  display: flex;
  background-color: rgba(0, 120, 246, 1);
}
.turzuriimnertei:hover .circle-button{
  background-color: rgba(0, 120, 246, 0.4);
  display: block;
  align-content: center;
  justify-content: center;
}
.turzuriimnertei2:hover .circle-black{
  width: 38px;
  height: 38px;
  border-radius: 35px;
  background-color: rgba(0, 120, 246, 1);

}
.turzuriimnertei2:hover .circle-button{
  background-color: rgba(0, 120, 246, 0.4);
  display: block;
  align-content: center;
}
.turzuriimnertei-text-container{
  display: flex;
  flex-direction: column;
  gap: 5px
}
.turzuriimnertei-text1{
  font-size: 11.6px;
  opacity: .4;
  color: white
}
.turzuriimnertei-text2{
  font-size: 13.4px;
  color: white
}
.turzuriimnertei2{
  width: 323px;
  height: 90px;
  transition: transform 0.3s;
  background-image: url("https://s3-alpha-sig.figma.com/img/d0c2/439f/47acf9eed22f04d67787e3eb003e90b6?Expires=1730678400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=olTNhUcC2Fdtwjic5OTO77CC~3oIy1Vx~GbL0zK~VEi7k2q3ZbuVMpQseVI8T9SGwhAZeapleZ1gpYRIrjdmuSt6yZ7QxGvswMmBH6SfVCEhF9K09deS4~L-Xl3GCzHy7nvyDCeH0Djy1fOP9LGUhFU7Na7ZTBXN73SewSq9fWvNpXveil5tnCnn46-wPduWuEnVee2YpUFD27jmbIeoMDKb6uv7hVXeUaEGZzxSwA-gHX~E2Xe28xB~QXH7hdPlyEeI6iCKevnVl0dM25MeoGxmO-3ZBRt-5ldzbutOuoVmzvsjO6oF2aDEP3kyqdR9kxPMaCqT4TY5TeFRVJUnkg__");
  background-size: cover;
  display: flex;
  flex-direction: row;
  gap: 35px;
  justify-content: center;
  align-items: center;
  text-decoration: none
}
.turzuriimnertei2:hover{
  transform: translateX(5px)
}
.soclinks{
  opacity: .3;
  transition: transform 0.3s;
  cursor: pointer;
  /* width: 32px;
  height: 32px; */
}
.soclinks:hover{
  color: blue;
  transform: scale(1.1);
}
.texts-blue{
  color: rgba(0, 120, 246, 1);
  font-size: 14.1px;
  font-weight: bold
}
.textsq{
  opacity: .4;
  transition: transform 0.3s;
  text-decoration: none;
  color: white;
}
.textsq:hover{
 transform: translateX(5px);
}
.textsw{
  opacity: .4;
}
.textsq:hover{
  opacity: 10;
}

